################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KinectScan/KinectScan.VC.VC.opendb
